{% extends 'form.html' %}
{% load static %}
{% block head_form %}
    <script src="{% static 'trabajador/js/form.js' %}"></script>
{% endblock %}
{% block form %}

<div class="card">
    <div class="card-header" id="header-title">
        <h6 class="card-title">Campos a Rellenar</h6>
    </div>
    <div class="card-body">
        <label for="tipo">{{form.tipo.label}}</label>
        {{form.tipo}}
        <label for="documento">{{form.documento.label}}</label>
        {{form.documento}}
        <label for="">{{form.nombre.label}}</label>
        {{form.nombre}}
        <label for="">{{form.apellidos.label}}</label>
        {{form.apellidos}}
        <label for="sctr">{{form.sctr.label}}</label>
        {{form.sctr}}
    </div>
    
</div>


{% endblock form %}
{% block javascript %}

{% endblock javascript %}