{% extends 'form.html' %}
{% load static %}
{% block head_form %}
    <!-- <script src="{% static 'delivery/js/form.js' %}"></script> -->
{% endblock head_form %}
{% block form %}
<div class="row">
    <div class="card col-sm-6">
        <div class="card-header" id="header-title">
            <h6>Datos del Delivery</h6>
        </div>
        <div class="card-body">
            <label for="estado">{{form.user.label}}</label>
            {{form.user}}
            <label for="estado">{{form.estado.label}}</label>
            {{form.estado}}
            <label for="dni">{{form.dni.label}}</label>
            {{form.dni}}
            <label for="nombre">{{form.nombre.label}}</label>
            {{form.nombre}}
            <label for="apellidos">{{form.apellidos.label}}</label>
            {{form.apellidos}}
            <label for="motivo">{{form.motivo.label}}</label>
            {{form.motivo}}
            <label for="empresa">{{form.empresa.label}}</label>
            {{form.empresa}}
            <label for="cargo">{{form.cargo.label}}</label>
            {{form.cargo}}
            <label for="fecha">{{form.fecha.label}}</label>
            {{form.fecha}}
            
        </div>
        <div class="card-footer">

        </div>
    </div>
    <div class="card col-sm-6">
        <div class="card-header " id="header-title">
            <h6>Mas Datos</h6>
        </div>
        <div class="card-body">
            <label for="p_visita">{{form.p_visita.label}}</label>
            {{form.p_visita}}
            <label for="h_inicio">{{form.h_inicio.label}}</label>
            {{form.h_inicio}}
            <label for="h_termino">{{form.h_termino.label}}</label>
            {{form.h_termino}}
            <label for="guias">{{form.guias.label}}</label>
            {{form.guias}}
            <label for="tipo">{{form.tipo.label}}</label>
            {{form.tipo}}
            <label for="cantidad">{{form.cantidad.label}}</label>
            {{form.cantidad}}
            <label for="observacion">{{form.observacion.label}}</label>
            {{form.observacion}}
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
{% endblock form %}
{% block javascript %}
    <script>
        $('#id_user').val('{{request.user}}')
        $('#id_h_termino').on('change',function(event){
            $('#id_estado').val(3)
        })
    </script>
{% endblock javascript %}