{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'visitas/js/list.js' %}"></script>
{% endblock %}

{% block columnas %}
    <tr>
        <th scope="col">#ID</th>
        <th scope="col">ESTADO</th>
        <th scope="col">NOMBRES</th>
        <th scope="col">APELLIDOS</th>
        <th scope="col">H.INICIO</th>
        <th scope="col">H.LLEGADA</th>
        <th scope="col">H.FINALIZADO</th>
        <th scope="col">H.SALIDA</th>
        <th scope="col">FECHA</th>
        <th scope="col">DNI</th>
        <th scope="col">ACOMPA.</th>
        <th scope="col">CARGO</th>
        <th scope="col">EMPRESA</th>
        <th scope="col">MOTIVO</th>
        <th scope="col">SALA</th>
        <th scope="col">STRC</th>
        <th scope="col">P VISITA</th>
        <th scope="col">VEHICULO</th>
        <!-- <th scope="col">OPCIONES</th> -->
    </tr>

{% endblock %}

{% block filas %}

{% endblock %}

{% block javascript %}
   
       

{% endblock %}